<mdb-navbar SideClass="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark-green scrolling-navbar" [containerInside]="false">
        <logo>
            <a class="logo navbar-brand" href="#"><strong>My Watch</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  " [routerLinkActive]="['active']">
                    <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
        </links>
    </mdb-navbar>