<mdb-navbar SideClass="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-black scrolling-navbar" [containerInside]="false">
        <logo>
            <a class="logo navbar-brand" href="#"><strong>Watchers</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/api']" class="nav-link waves-light" mdbRippleRadius>Random info about some cars</a>
                </li>
            </ul>

            <form class="form-inline waves-light" (keyup.enter)="submit(search.value)">
                    <input #search class="form-control mr-sm-2" type="text" placeholder="Search" style="margin-bottom: 0">
            </form>
        </links>
    </mdb-navbar>