/* You can add global styles to this file, and also import other style files */
.description-small{
    font-size: 0.8rem;
}
.img-fill{
    width: 100%;
}
.row-padding{
    padding: 1%;
}
.title-selector{
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.title-selector title{
    display: inline;
}

.scrollable{
    height: 88vh;
    //padding-left: 0.5%;
    //padding-right: 0.5%;
}
.scrollable .scrollable-column{
    padding-left: 0.5%;
}
.scrollable .head-scrollable{
    overflow-y: hidden;
    overflow: hidden;
}
.scrollable .body-scrollable{
    overflow-y: scroll;    
    overflow: overlay;  
    overflow-x: hidden;
    height: 78vh;           
    width: 97%;
    position: absolute;
}
.scrollable .row-scrollable{
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}
.quote-big{
    display: block;
    font-size: 3rem;
    color: gray;
    margin-top: 15%
}