/* You can add global styles to this file, and also import other style files */
html{
    overflow-x: hidden;
}
.description-small{
    font-size: 0.8rem;
}
.img-fill{
    max-width: 100%;
    max-height: 100%;
}
.row-padding{
    padding: 1%;
}
.title-selector{
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.title-selector title{
    display: inline;
}

.scrollable{
    height:86vh;
}
.scrollable .scrollable-column{
    padding-left: 0.5%;
}
.scrollable .head-scrollable{
    overflow-y: hidden;
    overflow: hidden;
}
.scrollable .body-scrollable{
    overflow-y: scroll;    
    overflow: overlay;  
    overflow-x: hidden;
    height: 74vh;           
    width: 97%;
    position: absolute;
}
.scrollable .row-scrollable{
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}
.scrollable-horizontal-container{
    padding-bottom: 0%;
}
.quote-big{
    display: block;
    font-size: 3rem;
    color: gray;
    margin-top: 15%
}
.cast-row{
    overflow-y: scroll;
    max-height: 75vh;
}
.cast-row .cast-element{
    width: 7vw;
    margin: auto;
}
.progresscenter-parent{
    position: relative;
    margin: auto;
    font-size: 31sp;
}
.progresscenter{
    width: 100%;
    position: absolute;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: auto;
    top: 45%;
}
round-progress{
    margin: auto;
}