<div class="card">
  <div class="card-body scrollable">
    <div class="head-scrollable">
      <h4 class="card-title title">Episode</h4>
    </div>
    <hr style="margin-bottom: 0%">
    <div class="card-block body-scrollable" *ngIf="SeasonSvc.episode">
      <img class="img-fill" src="https://image.tmdb.org/t/p/w500{{SeasonSvc.episode.still_path}}" alt="{{SeasonSvc.episode.name}} poster" style="margin-left: -2em">
      <br><br>
      <h6>{{SeasonSvc.episode.name}}</h6>
      <hr style="margin-bottom: 0%">
      <div class="description-small">
        {{SeasonSvc.episode.overview}}
      </div>
      <br>
      <h6 *ngIf="SeasonSvc.episode.guest_stars.length >= 1">Guest stars</h6>
      <div class="horizontal-scroll">
        <div class="element" *ngFor="let guest of SeasonSvc.episode.guest_stars" style="display: inline-block; padding: 1%">
          <img src="https://image.tmdb.org/t/p/w92{{guest.profile_path}}" alt="{{ guest.name }} profile" *ngIf="guest.profile_path">
          <p style="font-size: 0.8rem" *ngIf="guest.profile_path">
            {{ guest.character }}
            <br>
            <span style="font-size: 0.7rem"> ({{ guest.name }})</span>
          </p>
        </div>
      </div>
    </div>
    <div class="card-block" *ngIf="!SeasonSvc.episode">
      <div style="text-align: center; vertical-align: center">
        please select an episode
      </div>
    </div>
  </div>
</div>
