<div class="card">
  <div class="card-body scrollable">
    <div class="head-scrollable">
      <h4 class="card-title title">Episodes</h4>
    </div>
    <hr style="margin-bottom: 0%">
    <div class="card-block body-scrollable" *ngIf="SeasonSvc.episodes">
      <div class="row row-padding" *ngFor="let episode of SeasonSvc.episodes; let i = index" (click)="showEpisode(i)">
        <div class="col-md-12">
          <span>{{ episode.name }}</span>
          <hr style="margin-top: 0%">
          <p class="description-small"> {{ episode.overview }}</p>
        </div>
      </div>
    </div>
    <div class="card-block" *ngIf="!SeasonSvc.episodes">
      <div style="text-align: center; vertical-align: center">
        please select a season
      </div>
    </div>
  </div>
</div>
