<div class="card">
  <div class="card-header">
    <div class="head-scrollable">
      <h4 class="card-title title">Seasons</h4>
    </div>
  </div>
  <div class="card-body body-scrollable-full">
    <div class="card-block" *ngIf="seasons">
      <div class="row row-padding" *ngFor="let season of seasons; let i = index" (click)="showEpisodes(i)">
        <div class="col-md-3 scrollable-column">
          <img class="img-fill" src="https://image.tmdb.org/t/p/w154{{season.poster_path}}" alt="{{season.name}} poster">
        </div>
        <div class="col-md-9">
          <span>{{ season.name }}</span>
          <hr style="margin-top: 0%">
          <p class="description-small"> {{ season.overview }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
