<br>
<div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ serie.title }}</h1>
        </div>
        <div class="card-body"> 
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2">
                            <img src="https://image.tmdb.org/t/p/w185{{serie.poster_path}}" alt="{{ serie.title }} poster">
                    </div> 
                    <div class="col-md-7">
                        <p>
                            {{ serie.overview }}
                        </p>
                    </div>
                    <div class="col-md-3">
                         <span class="quote-big" *ngIf="serie.tagline">"{{ serie.tagline }}"</span>
                    </div>
                </div>
            </div>
        </div>
    </div>