<div *ngIf="serie" style='background: url("https://image.tmdb.org/t/p/original{{serie.backdrop_path}}"); height: 100vh;'>
  <br>
  <div class="row">
    <div class="col-md-9">
      <div class="card" style="max-height: 52vh">
        <div class="card-header" style="padding-bottom: 0%">
          <h1 class="card-title" style="display: inline;">{{ serie.title }}</h1> 
          <button type="button" class="btn btn-info waves-light" mdbWavesEffect style="float: right; margin-bottom: 1%; margin-top: 0%;" [routerLink]="['/detailserie', serie.id, 'seasons']">Go to seasons</button>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="row">
              <div class="col-md-2">
                <img class="img-fill" style="max-height: 48vh" src="https://image.tmdb.org/t/p/w185{{serie.poster_path}}" alt="{{ serie.title }} poster">
              </div>
              <div class="col-md-10">
                <div style="padding: 1%">
                  Overview
                  <hr style="margin-top: 0%"> {{ serie.overview }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header" style="padding-bottom: 0%">
              <h6 class="card-title">Extra info:</h6>
            </div>
            <div class="card-body">
              <div class="card-block">
                <span *ngIf="serie.first_air_date">First air date: {{ serie.first_air_date }}</span>
                <span *ngIf="serie.last_air_date">
                  <br *ngIf="serie.first_air_date"> Last air date: {{ serie.last_air_date }}</span>
                <span *ngIf="serie.episode_run_time">
                  <br *ngIf="serie.last_air_date">Episode time: {{ serie.episode_run_time[0] }} minutes</span>
                <span *ngIf="serie.number_of_episodes">
                  <br *ngIf="serie.episode_run_time"> Total episodes: {{ serie.number_of_episodes }}</span>
                <span *ngIf="serie.number_of_seasons">
                  <br *ngIf="serie.number_of_episodes">Total seasons: {{ serie.number_of_seasons }}</span>
                <span *ngIf="serie.homepage">
                  <br *ngIf="serie.number_of_seasons">Home page:
                  <a href="serie.homepage">{{ serie.homepage }}</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header" style="padding-bottom: 0%">
              <h6 class="card-title">Rating</h6>
            </div>
            <div class="card-body">
              <div class="card-block" class="progresscenter-parent">
                <div class="progresscenter">{{ serie.vote_average }}/10</div>
                <round-progress current="{{ serie.vote_average }}" [max]="10" [radius]="60" color={{color}} [rounded]="true"></round-progress>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header" style="padding-bottom: 0%">
          <h6 class="card-title">Cast</h6>
        </div>
        <div class="card-body scrollable-horizontal-container">
          <div class="card-block">
            <div class="row cast-row">
              <div class="cast-element" *ngFor="let actor of cast">
                <img src="https://image.tmdb.org/t/p/w92{{actor.profile_path}}" alt="{{ actor.name }} profile" *ngIf="actor.profile_path">
                <p style="font-size: 0.8rem" *ngIf="actor.profile_path">
                  {{ actor.character }}
                  <br>
                  <span style="font-size: 0.7rem"> ({{ actor.name }})</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
