.center-parent{
    position: relative;
    margin: auto;
    font-size: 31sp;
}
.center{
    width: 100%;
    position: absolute;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: auto;
    top: 45%;
}
round-progress{
    margin: auto;
}