<div class="card">
    <div class="card-body"> 
        <h6 class="card-title">{{ movie.title }}</h6>
        <div class="card-block">
            <div class="row">
                <div class="col-md-2">
                        <img src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="{{ movie.title }} poster">
                </div> 
                <div class="col-md-7">
                    <p>
                        {{ movie.overview }}
                    </p>
                </div>
                <div class="col-md-3">
                     <span class="quote-big">"{{ movie.tagline }}"</span>
                </div>
            </div>
        </div>
    </div>
</div>